body {
  font-family: sans-serif;
  background-color: #ba68c8;
}

* {
  box-sizing: border-box;
}
h1 {
  color: #eee;
  margin-bottom: 30px;
}
.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#foodList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.food {
  list-style-type: none;
  background-color: #c8a2c8;
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "name image"
    "house image";
  text-align: left;
}

.food > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: "🔍";
  position: absolute;
  top: 7px;
  right: 15px;
}
#loading {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}

.cards {
  width: 250px;
  height: 200px;
  background-color: #f0f8ff;
  margin: 5px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.food {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
